<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Flask Az App</title>
</head>
<style>
	html, body {
	  height: 100%;
	  margin: 0;
	}
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	.centered_div {
		padding: 20px;
		background-color: black;
		color: white;
		border: 2px solid #000;
	}
</style>
<body>
	<div class="container">
		<div class="centered_div">
			<h1>Flask Azure App</h1>
		</div>
	</div>
</body>
</html>
